<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
    <%= f.label :address %>
    <%= f.text_field :address %>


    <%= f.label :latitude %>
    <%= f.text_field :latitude %>

    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
    </fieldset>
    <br />
    <%= f.submit :class => "btn btn-success" %>

<% end %>
