<h2><%= @location.address %></h2>
  
<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<div class="map">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=940x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</div>

<% if signed_in? %>
<%= link_to 'Edit', edit_location_path(@location), :class => "btn" %> <% end %>
<%= link_to 'Back', locations_path, :class => "btn" %>
